<div class="navbar">

  <%= image_tag 'logo.png' %>
  <div>
    <%= link_to 'Home', root_path %>
    <%= link_to 'My Garage', favourites_path %>
  </div>

</div>


<h1>Awesome Garage</h1>

<div class="card-trip">
  <% @cars.each do |car| %>
  <div class="card-car-infos">
    <div>
      <h2><%= car.brand %></h2>
      <h3><%= car.model %></h3>
    </div>
    <img src="<%= car.image_url%>"/>
    <div class="card-comment">
      <h3>comment</h3>
      <p><%= car.owner.nickname %></p>
    </div>
  </div>
  <% end %>
</div>
