<h1><%= @car.brand %></h1>
<h2><%= @car.model %></h2>
<h3><%= @car.fuel %></h3>
<p><%= @car.year %></p>

<% if @car.favourites.empty? %>
  <%= simple_form_for [@car, @favourite] do |f| %>
    <%= f.submit "Add to your Garage", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>This car is already in your Garage</p>
<% end %>

<h1>New review</h1>
<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: 1..5 %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<h2>Reviews</h2>
<% @car.reviews.each do |review| %>
  <p><%= review.comment %></p>
  <p>Rating: <%= review.rating %></p>
  <p>----------------------</p>
<% end %>
